<header class="bg-white shadow">
  <nav class="container mx-auto px-4 py-3">
    <%= link_to 'ASoc', root_path, class: 'brand' %>

    <div class="nav-links">
      <%= render 'shared/navigation' %>
    </div>
  </nav>
</header>